TWI.InventoryAutomated/Web References/TESTPostAdjustments/InventoryCount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/InventoryCount" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/InventoryCount" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/InventoryCount" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="GetAdjustmentLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="zonecode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bincode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lotno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="expirydate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAdjustmentLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePhyiscalInventory">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="zonecode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bincode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lotno" type="string" />
            <element minOccurs="1" maxOccurs="1" name="expirydate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="batchName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="UpdatePhyiscalInventory_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteExistingAdjustments">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="batchName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="DeleteExistingAdjustments_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="GetAdjustmentLines">
    <part name="parameters" element="tns:GetAdjustmentLines" />
  </message>
  <message name="GetAdjustmentLines_Result">
    <part name="parameters" element="tns:GetAdjustmentLines_Result" />
  </message>
  <message name="UpdatePhyiscalInventory">
    <part name="parameters" element="tns:UpdatePhyiscalInventory" />
  </message>
  <message name="UpdatePhyiscalInventory_Result">
    <part name="parameters" element="tns:UpdatePhyiscalInventory_Result" />
  </message>
  <message name="DeleteExistingAdjustments">
    <part name="parameters" element="tns:DeleteExistingAdjustments" />
  </message>
  <message name="DeleteExistingAdjustments_Result">
    <part name="parameters" element="tns:DeleteExistingAdjustments_Result" />
  </message>
  <portType name="InventoryCount_Port">
    <operation name="GetAdjustmentLines">
      <input name="GetAdjustmentLines" message="tns:GetAdjustmentLines" />
      <output name="GetAdjustmentLines_Result" message="tns:GetAdjustmentLines_Result" />
    </operation>
    <operation name="UpdatePhyiscalInventory">
      <input name="UpdatePhyiscalInventory" message="tns:UpdatePhyiscalInventory" />
      <output name="UpdatePhyiscalInventory_Result" message="tns:UpdatePhyiscalInventory_Result" />
    </operation>
    <operation name="DeleteExistingAdjustments">
      <input name="DeleteExistingAdjustments" message="tns:DeleteExistingAdjustments" />
      <output name="DeleteExistingAdjustments_Result" message="tns:DeleteExistingAdjustments_Result" />
    </operation>
  </portType>
  <binding name="InventoryCount_Binding" type="tns:InventoryCount_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="GetAdjustmentLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/InventoryCount:GetAdjustmentLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetAdjustmentLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetAdjustmentLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdatePhyiscalInventory">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/InventoryCount:UpdatePhyiscalInventory" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdatePhyiscalInventory">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdatePhyiscalInventory_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="DeleteExistingAdjustments">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/InventoryCount:DeleteExistingAdjustments" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="DeleteExistingAdjustments">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="DeleteExistingAdjustments_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="InventoryCount">
    <port name="InventoryCount_Port" binding="tns:InventoryCount_Binding">
      <address location="http://twinav01.twi.cloud:8248/TWI_NAV_TEST/WS/Theodor%20Wille%20Intertrade%20GMBH/Codeunit/InventoryCount" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>