TWI.InventoryAutomated/Web References/DEVGMBHReservationEntries/TWIWMS_ReservationEntries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries" targetNamespace="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Reservation_Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Reservation" />
          <xsd:enumeration value="Tracking" />
          <xsd:enumeration value="Surplus" />
          <xsd:enumeration value="Prospect" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Source_Subtype">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_x0030_" />
          <xsd:enumeration value="_x0031_" />
          <xsd:enumeration value="_x0032_" />
          <xsd:enumeration value="_x0033_" />
          <xsd:enumeration value="_x0034_" />
          <xsd:enumeration value="_x0035_" />
          <xsd:enumeration value="_x0036_" />
          <xsd:enumeration value="_x0037_" />
          <xsd:enumeration value="_x0038_" />
          <xsd:enumeration value="_x0039_" />
          <xsd:enumeration value="_x0031_0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TWIWMS_ReservationEntries">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Reservation_Status" type="tns:Reservation_Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Serial_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lot_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Expected_Receipt_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shipment_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity_Base" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReservEngineMgt_CreateForText_Rec" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReservedFrom" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Type" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Subtype" type="tns:Source_Subtype" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Batch_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Source_Ref_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Entry_No" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Creation_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Transferred_from_Entry_No" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TWIWMS_ReservationEntries_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="TWIWMS_ReservationEntries" type="tns:TWIWMS_ReservationEntries" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="TWIWMS_ReservationEntries_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Reservation_Status" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Serial_No" />
          <xsd:enumeration value="Lot_No" />
          <xsd:enumeration value="Expected_Receipt_Date" />
          <xsd:enumeration value="Shipment_Date" />
          <xsd:enumeration value="Quantity_Base" />
          <xsd:enumeration value="ReservEngineMgt_CreateForText_Rec" />
          <xsd:enumeration value="ReservedFrom" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Source_Type" />
          <xsd:enumeration value="Source_Subtype" />
          <xsd:enumeration value="Source_ID" />
          <xsd:enumeration value="Source_Batch_Name" />
          <xsd:enumeration value="Source_Ref_No" />
          <xsd:enumeration value="Entry_No" />
          <xsd:enumeration value="Creation_Date" />
          <xsd:enumeration value="Transferred_from_Entry_No" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="TWIWMS_ReservationEntries_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:TWIWMS_ReservationEntries_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Entry_No" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TWIWMS_ReservationEntries" type="tns:TWIWMS_ReservationEntries" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TWIWMS_ReservationEntries" type="tns:TWIWMS_ReservationEntries" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:TWIWMS_ReservationEntries_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:TWIWMS_ReservationEntries_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TWIWMS_ReservationEntries" type="tns:TWIWMS_ReservationEntries" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TWIWMS_ReservationEntries" type="tns:TWIWMS_ReservationEntries" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TWIWMS_ReservationEntries_List" type="tns:TWIWMS_ReservationEntries_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TWIWMS_ReservationEntries_List" type="tns:TWIWMS_ReservationEntries_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <portType name="TWIWMS_ReservationEntries_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
  </portType>
  <binding name="TWIWMS_ReservationEntries_Binding" type="tns:TWIWMS_ReservationEntries_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/twiwms_reservationentries:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="TWIWMS_ReservationEntries_Service">
    <port name="TWIWMS_ReservationEntries_Port" binding="tns:TWIWMS_ReservationEntries_Binding">
      <address location="http://twinav01.twi.cloud:8148/TWI_NAV_Dev2019/WS/Theodor%20Wille%20Intertrade%20GMBH/Page/TWIWMS_ReservationEntries" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>